<script src="/static/node_modules/jquery/dist/jquery.js"></script>
<script src="/static/node_modules/jqueryui/jquery-ui.js"></script>
<script src="/static/node_modules/socket.io/client-dist/socket.io.js"></script>
<script type="text/javascript" charset="utf/8">
var origin = window.location.origin;
var socket = io.connect(origin);

function sendQueryUpdate() {
    socket.emit('query_update', { 'query': $('#Query_Field').val() });
};

function addLink() {
    socket.emit('add_link', {
    'title': $('#Link_Title_Field').val(),
    'url': $('#Link_Url_Field').val()
    });
};

function deleteImage() {
    $("#delete_image_dialog").dialog("open");
};

function deleteLink(title, url) {
    socket.emit('delete_link', { 'title': title, 'url': url });
};

function setLinkTable(data) {
    link_urls = data.urls;
    var tableBody = $('#Link_Table_Body');

    var iFinal = -1;
    var len = link_urls.length;
    for (const [i, title, url] of link_urls) {
        var newLink = '<td style="width: 200px;"><a href="'+url+'" target="_blank">'+title.substring(0, 28)+'</a></td>';
        var newButton = '<td style="width: 50px;"><button onclick="deleteLink(&apos;'+title+'&apos;, &apos;'+url+'&apos;)">DĒLĒ</button></li></td>';
        var newRow = '<tr>'+newLink+newButton+'</tr>';
        if (tableBody.children().length > i) {
          tableBody.children().eq(i).replaceWith(newRow);
        } else {
          tableBody.append(newRow);
        }
        iFinal = i;
    }
    for (let i = tableBody.children().length - 1; i > iFinal; i--) {
       tableBody.children().eq(i).replaceWith("");
    }
};

function sendClickAndQuery(button_name) {
    if (button_name.startsWith('domus')) {
        window.location = origin;
    } else {
        window.location = origin + '/' + button_name + '?quaestio=' + $('#Query_Field').val();
    }
};

function middleClickAndQuery(event, button_name) {
    event.preventDefault();
    if (button_name.startsWith('domus')) {
        window.open(origin, '_blank');
    } else {
        window.open(origin + '/' + button_name + '?quaestio=' + $('#Query_Field').val(), '_blank');
    }
};

function setPreviousSearchTable(data) {
    searches_so_far = data.searches;
    var tableBody = $('#Previous_Search_Table_Body');

    var i = 0;
    var iFinal = -1;
    for (const search of searches_so_far) {
        var url = origin + '/perquire?quaestio=' + search;
        var newRow = '<tr><td><a href="'+url+'" target="_self">'+search+'</a></td></tr>';
        if (tableBody.children().length > i) {
          tableBody.children().eq(i).replaceWith(newRow);
        } else {
          tableBody.append(newRow);
        }
        iFinal = i;
        i = i + 1;
    }
    for (let i = tableBody.children().length - 1; i > iFinal; i--) {
       tableBody.children().eq(i).replaceWith("");
    }
};

function setResultTable(data) {
    titles_urls = data.table;
    var tableBody = $('#Result_Table_Body');

    var iFinal = -1;
    for (const [i, index, title, url] of titles_urls) {
        var newRow = '<tr><td>'+index+'</td> <td><a href="'+url+'" target="_blank">'+title+'</a></td></tr>';
        if (tableBody.children().length > i) {
          tableBody.children().eq(i).replaceWith(newRow);
        } else {
          tableBody.append(newRow);
        }
        iFinal = i;
    }
    for (let i = tableBody.children().length - 1; i > iFinal; i--) {
       tableBody.children().eq(i).replaceWith("");
    }
};

function setQueriesDataList(data) {
    suggestions = data.suggestions;
    var queries = $('#Queries_Select');
    queries.empty();

    for (const [word, url] of suggestions) {
          var option = $("<option>" + word + "</option>").attr("value", url);
          queries.append(option);
    }
};

$(document).ready(function() {
    $("#delete_image_dialog").dialog({
        autoOpen: false,
        buttons: {
            "SUM": function() {
                socket.emit('delete_image', { 'image': $('#Image_Logo_Field').val() });
                $(this).dialog("close");
            },
            "NŌN": function() {
                $(this).dialog("close");
            }
        }
    });
});

$(document).ready(function() {
    sendQueryUpdate();
});

$(document).ready(function() {
    socket.emit('get_link', {});
});

$(document).ready(function() {
    var pathname = window.location.pathname;
    if (pathname === '/') {
        socket.emit('domus', {});
    } else if (pathname.startsWith('/perquire')) {
        socket.emit('perquire', { 'query': $('#Query_Field').val() });
    }
});

$(document).ready(function() {
    socket.on('on_add_link_done', function(data) {
        setLinkTable(data);
    });
});

$(document).ready(function() {
    socket.on('on_delete_image_done', function(data) {
        window.location.reload();
    });
});

$(document).ready(function() {
    socket.on('searches_so_far', function(data) {
        setPreviousSearchTable(data);
    });
});

$(document).ready(function() {
    socket.on('on_domus_done', function(data) {
        setPreviousSearchTable(data);
    });
});

$(document).ready(function() {
    socket.on('on_perquire_done', function(data) {
        setResultTable(data);
        setPreviousSearchTable(data);
    });
});

$(document).ready(function() {
    socket.on('on_query_update_done', function(data) {
        setQueriesDataList(data);
    });
});

$(document).ready(function() {
    $("#Query_Field").on("keyup", event => {
        if(event.key == "Enter") {
            $("#perquire").click();
        }
    });
});

$(document).ready(function() {
    $("#Queries_Select").on("keyup", event => {
        if(event.key == "Enter") {
            $("#Query_Field").val($("#Queries_Select option:selected").text());
            $("#perquire").click();
            window.open($("#Queries_Select option:selected").val(), '_blank').focus();
        }
    });
});

$(document).ready(function() {
  $("#domus").on("click", function() {
        sendClickAndQuery('domus');
  });
});

$(document).ready(function() {
  $("#quaere").on("click", function() {
        sendClickAndQuery('quaere');
  });
});

$(document).ready(function() {
  $("#perquire").on("click", function() {
        sendClickAndQuery('perquire');
  });
});

$(document).ready(function() {
  $("#sentio_felix").on("click", function() {
        sendClickAndQuery('sentio_felix');
  });
});

$(document).ready(function() {
  $("#domus").on("mousedown", function(event) {
    if (event.which === 2) {
        middleClickAndQuery(event, 'domus');
    }
  });
});

$(document).ready(function() {
  $("#perquire").on("mousedown", function(event) {
    if (event.which === 2) {
        middleClickAndQuery(event, 'perquire');
    }
  });
});

$(document).ready(function() {
  $("#sentio_felix").on("mousedown", function(event) {
    if (event.which === 2) {
        middleClickAndQuery(event, 'sentio_felix');
    }
  });
});
</script>

<!doctype html>
<link rel="stylesheet"
      type="text/css"
      href="/static/node_modules/jqueryui/jquery-ui.css"
/>
<style>
  .page-grid {
    display: grid;
    grid-template-columns: 400px 200px 250px auto;
    align-items: start;
  }
  .align-bottom {
    align-self: end;
  }
  .search-row {
    display: flex;
    align-items: flex-start;
  }
  .link-row {
    display: flex;
    align-items: flex-start;
  }
</style>

<div id="delete_image_dialog" title="CŌNFIRMĀTIŌ">
  <p>CERTUS ES?</p>
</div>

<h1>
    <a href="https://en.wiktionary.org/wiki/Wiktionary:Main_Page" target="_blank">
        VICTIŌNĀRIVM, DICTIŌNĀRIVM LĪBERVM
    </a>
</h1>

<div class="page-grid">
    <!-- Row 1, Col 1: Search form -->
    <div>
        <div class="search-row">
            <div>
                <input type="submit" name="domus" id="domus" value="DOMVS">
                <br>
                <input
                    type="text"
                    name="Query_Field"
                    id="Query_Field"
                    value="{{query_value}}"
                    oninput="sendQueryUpdate()"
                    autofocus
                    onfocus="var temp_value=this.value; this.value=''; this.value=temp_value"
                />
                <br>
                <!-- <input type="submit" name="quaere" id="quaere"value="QVAERE"> -->
                <input type="submit" name="perquire" id="perquire" value="PERQVĪRE">
                <input type="submit" name="sentio_felix" id="sentio_felix" value="SENTIŌ FĒLĪX" formtarget="_blank">
                <br>
            </div>
            <div>
                <select
                    style="width:180px; height:80px;"
                    size="10"
                    id="Queries_Select"
                    onclick=
                        "document.getElementById('Query_Field').value=this.options[this.selectedIndex].text;
                        document.getElementById('perquire').click();
                        window.open(this.options[this.selectedIndex].value, '_blank').focus();">
                </select>
            </div>
        </div>
    </div>

    <!-- Row 1, Col 2: Previous searches label -->
    <div class="align-bottom">
        INQUĪSĪTIŌNĒS PRIŌRĒS
    </div>

    <!-- Row 1, Col 3: spacer -->
    <div></div>

    <!-- Row 1, Col 4: Delete image button -->
    <div class="align-bottom">
        <button onclick="deleteImage()">DĒLĒ IMĀGINEM</button>
    </div>

    <!-- Row 2, Col 1: Results table -->
    <div>
        <table id="Result_Table" style="table-layout: fixed; width: 400px;">
            <tbody id="Result_Table_Body">
                {% for i, index, title, url in titles_urls %}
                    <tr>
                        <td>{{index}}</td>
                        <td><a href="{{url}}" target="_blank">{{title}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Row 2, Col 2: Previous searches table -->
    <div>
        <table id="Previous_Search_Table" style="table-layout: fixed; width: 200px;">
            <tbody id="Previous_Search_Table_Body">
                {% for query_val in searches_so_far %}
                    {% set url = url_for('perquire') + '?quaestio=' + query_val %}
                    <tr>
                        <td><a href="{{url}}" target="_self">{{query_val}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Row 2, Col 3: Link management -->
    <div>
        <div class="link-row">
            <div>
                <input
                    type="text"
                    name="Link_Title_Field"
                    id="Link_Title_Field"
                />
                <input
                    type="text"
                    name="Link_Url_Field"
                    id="Link_Url_Field"
                />
            </div>
            <div>
                <button onclick="addLink()">ADDE</button>
            </div>
        </div>
        <table id="Link_Table" style="table-layout: fixed; width: 200px;">
            <tbody id="Link_Table_Body">
                {% for i, url in link_urls %}
                    <tr>
                        <td><a href="{{url}}" target="_blank">{{url}}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Row 2, Col 4: Image -->
    <div>
        <input name="Image_Logo_Field" id="Image_Logo_Field" type="hidden" value="{{image_logo}}">
        <a href="{{image_logo}}" target="_blank">
            <img src="{{image_logo}}" style="background-color: #A9A9A9" height="240px" align="left">
        </a>
    </div>
</div>

